
body{

    background-color:rgb(149, 69, 53) ;
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 600px; 
    background-image: url(crochet.JPG.jpg);
    background-repeat: no-repeat;
    background-size: 45%;
    height: 2000px;
  
  }
  

 h1{
  color:black;
 }
 h2{
  color:maroon;
 }
.goToTopBtn {
  position: fixed;
bottom: 10px;
right: 10px;
background-color: black;
color: white;
border: 0;
outline: 0;
padding:10px;
cursor: pointer;
}
.active {
  transform: translateX(0)
}

.hide {
  transform: translateX(150%);
}

 
